/* HEADER PAra PC */

:root {
    --blue: #007bff;
}

header .head-logo-row{
margin: 0;
} 
header .head-logo-row.position-relative.container-fluid {
    background-color: #007bff;
    padding: 0;
    height: 100px;
}

.col-auto.col-md-3.col-utility.order-md-0 .d-none.d-md-block {
    margin: 30px 0 0 15px;
}

.logo-img-container a img {
    margin-top: 25px;
    transform: scale(1.8);
    border-radius: 10px;
    background: #e0e0e0;
    box-shadow:  -20px 20px 60px #bebebe,
                20px -20px 60px #ffffff;
}

.head-logo-row.position-relative.container-fluid .col-md.col-utility.text-right.d-none.d-md-inline-block.order-md-1 {
	transform: translate(-9px, -5px);
}

.head-logo-row.position-relative.container-fluid .col-auto.col-utility.order-2 {
    transform: translateX(-20px);
}

.utilities-container.d-none.d-md-inline-block.mr-4 .row.no-gutters.align-items-center .col.pl-2.text-left {
    width: 150px;
}

@media (min-width: 768px) AND (max-width: 809px) {
    .utilities-container.d-none.d-md-inline-block.mr-4 .row.no-gutters.align-items-center{
        transform: translateX(50px);
    }

    .row.no-gutters.align-items-center {
        transform: translate(-2px,4px)
    }
}

.form-group.m-0 .js-search-input.form-control.search-input:focus {
    border: solid 2px rgb(255, 255, 255);
    -webkit-box-shadow: 0px 0px 20px 4px #fff;
-moz-box-shadow: 0px 0px 20px 4px #fff;
box-shadow: 0px 0px 20px 4px #fff;
transition: all .4s ease-in;
}

.form-group.m-0 .js-search-input-submit.search-btn.search-submit-btn:hover {
    background-color: #7489ce;
    border-radius: 10px;
    transition: all .4s ease-in;
}


/* HEADER Para Mobile */

/*btn burguer*/
.utilities-container.d-inline-block .js-modal-open.utilities-item.btn.btn-utility.pl-0 .icon-inline.utilities-icon.align-bottom {
    transform: translate(10px, -3px) scale(1.5);
    padding: 3px;
    border-radius: 3px;
}

.utilities-container.d-inline-block .js-modal-open.utilities-item.btn.btn-utility.pl-0 .icon-inline.utilities-icon.align-bottom:hover {
    background-color: #000;
    transition: all .4s ease-in;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);

}

/*btn login*/
.col-auto.d-inline-block.d-md-none .utilities-container .btn.btn-utility .icon-inline.utilities-icon {
    transform: translate(10px,-3px) scale(1.5);
    border-radius: 3px;
    padding: 3px;
}

.col-auto.d-inline-block.d-md-none .utilities-container .btn.btn-utility .icon-inline.utilities-icon:hover {
    background-color: #000;
    transition: all .4s ease-in;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/*btn search*/
.js-search-button.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.utilities-item .icon-inline.align-bottom.utilities-icon {
    transform: translate(-15px, -4px) scale(1.5);
    border-radius: 3px;
    padding: 3px;
}

.js-search-button.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.utilities-item .icon-inline.align-bottom.utilities-icon:hover {
    background-color: #000;
    transition: all .4s ease-in;
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

/*btn carrito*/
.js-modal-open.js-fullscreen-modal-open.btn.btn-utility.position-relative.pr-0 .icon-inline.utilities-icon.cart-icon.mr-md-1 {
    transform: translate(5px, 8px) scale(1.5);
    border-radius: 3px;
    padding: 3px;
}

/*badge*/
.js-cart-widget-amount.badge {
    transform: translate(-3px, 0px);
}


/* Navbar para PC*/

.js-menu-and-banners-row.container-fluid.menu-and-banners-row.d-none.d-md-block {
    background: rgb(157,157,157);
    background: linear-gradient(0deg, rgba(157,157,157,1) 0%, rgba(25,25,25,1) 100%);
    z-index: 99;
}

.js-nav-desktop-list.nav-desktop-list .js-desktop-nav-item.js-nav-main-item.nav-main-item.nav-item-desktop.nav-item a {
    font-weight: 800;
}

.js-nav-desktop-list.nav-desktop-list .js-desktop-nav-item.js-nav-main-item.nav-main-item.nav-item-desktop.nav-item a:hover {
    color: #63afff;
    transition: all .4s ease-in;
}

.nav-item-container .nav-list-link.position-relative.align-items-center.d-flex.h-100.pr-1:hover,
.nav-item-container .nav-list-link.position-relative.align-items-center.d-flex.h-100.pr-1 svg:hover {
    color: #63afff !important;
    fill: #63afff !important;
    transition: all .4s ease-in;
}

.js-desktop-dropdown.nav-dropdown-content.desktop-dropdown {
    background-color: #007bff;
    border-bottom: #000 1px solid;
    box-shadow: 25px 25px 49px #bebebe, 0px 0px 0px #ffffff;
}

.desktop-list-subitems.list-subitems.m-0,
.desktop-list-subitems.list-subitems {

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.desktop-list-subitems.list-subitems.m-0 li a,
.desktop-list-subitems.list-subitems li a {
    color: #fff;
    font-weight: 800;
}

.desktop-list-subitems.list-subitems.m-0 li a:hover,
.desktop-list-subitems.list-subitems li a:hover{
    color: #63afff;
    transition: all .4s ease-in;
}


/*Navbar para mobile */

.modal-scrollable-area .modal-body.nav-body {
    background: linear-gradient(0deg, rgba(72,0,255,1) 7%, rgba(0,189,255,1) 94%);
} 

.modal-scrollable-area .js-modal-close.modal-header.modal-header-no-title.p-3 {
    background: radial-gradient(circle, rgba(116,116,116,1) 0%, rgba(0,0,0,1) 67%);
    border-bottom: 2px solid #fff;
}

.js-modal-close.modal-header.modal-header-no-title.p-3 .icon-inline.svg-icon-text {
    fill: #fff
}

.js-modal-close.modal-header.modal-header-no-title.p-3 .icon-inline.svg-icon-text:hover {
    fill: #63afff;
    transition: all .4s ease-in;
}

.nav-list .js-desktop-nav-item.nav-item a,
.js-toggle-menu-panel.align-items-center.nav-list-link.position-relative  {
    color: #fff;
}

.nav-list .js-desktop-nav-item.nav-item a:hover,
.js-toggle-menu-panel.align-items-center.nav-list-link.position-relative:hover {
    color: #63afff !important;
    opacity: 1 !important;
    transition: all .4s ease-in;
}

.nav-list-arrow.ml-1 .icon-inline.icon-lg.svg-icon-text {
    fill: #fff;
}

.nav-list-arrow.ml-1 .icon-inline.icon-lg.svg-icon-text:hover {
    fill: #63afff !important;
    transition: all .4s ease-in;
}


/*Submenu productos*/

.js-menu-panel.nav-list-panel.nav-list-panel-right.list-subitems.nav-list-panel-show .modal-header {
    background: radial-gradient(circle, rgba(116,116,116,1) 0%, rgba(0,0,0,1) 67%);
    border-bottom: 2px solid #fff;
}

.js-menu-panel.nav-list-panel.nav-list-panel-right.list-subitems.nav-list-panel-show .modal-body.p-0 {
    background: linear-gradient(0deg, rgba(72,0,255,1) 7%, rgba(0,189,255,1) 94%);
    border-bottom: 2px solid #fff;
}

.nav-item.item-with-subitems .js-menu-panel.nav-list-panel.nav-list-panel-right.list-subitems.nav-list-panel-show {
    background: radial-gradient(circle, rgba(116,116,116,1) 0%, rgba(0,0,0,1) 67%);

}

.row.no-gutters.align-items-center .col.pl-2 {
    color: #fff;
}

.row.no-gutters.align-items-center .col.pl-2:hover {
    color: #63afff !important;
    transition: all .4s ease-in;
}

.modal-back .icon-inline.svg-icon-text {
    fill: #fff;
}

.modal-back .icon-inline.svg-icon-text:hover {
    fill: #63afff !important;
    transition: all .4s ease-in;
}

.js-toggle-menu-close.js-modal-close.modal-close .icon-inline.modal-close-icon {
    fill: #fff;
}

.js-toggle-menu-close.js-modal-close.modal-close .icon-inline.modal-close-icon:hover {
    fill: #63afff !important;
    transition: all .4s ease-in;
}

.nav-item.py-1 .nav-list-link.position-relative.font-small.py-3 {
    color: #fff;
    opacity: 1 !important;
}

.nav-item.py-1 .nav-list-link.position-relative.font-small.py-3:hover {
    color: #63afff !important;
    transition: all .4s ease-in;
}


/* Iniciar sesion navbar*/
.modal-with-fixed-footer .modal-footer.text-right.hamburger-footer.mb-0.p-0 {
    background: radial-gradient(circle, rgba(116,116,116,1) 0%, rgba(0,0,0,1) 67%);
    border-top: 2px solid #fff;
}

.col-auto.pr-0 .icon-inline.utilities-icon.mr-1 {
    fill: #fff;
    background-color: #63afff;
    padding: 3px;
    border: 1px solid #fff;
    border-radius: 5px;
    transform: scale(1.2);
}

.col.pl-2.text-left a {
    color: #fff;

}

.col.pl-2.text-left a:hover {
    color: #63afff !important;
    transition: all .4s ease-in;
    
}

.js-btn-fixed-bottom.btn-whatsapp:hover {
    background-color: #2bfc77;
    transition: all .5s;
}






/*Footer version pc*/

.js-footer.js-hide-footer-while-scrolling.footer-colors.display-when-content-ready.overflow-none {
    background-color: #007bff;
    border-bottom: 1px solid #000 ;
}

.js-accordion-toggle-mobile.row .font-small.text-uppercase.font-weight-bold.col.p-3 {
    font-size: 15px !important;
    font-weight: 700;

}

.js-accordion-toggle-mobile.row .font-small.text-uppercase.font-weight-bold.col.p-3:hover {
    opacity: 1 !important;
    color: inherit !important;

}

.footer-menu-item a {
    font-size: 14px !important;
}

.col-md.footer-payments-shipping-logos.mb-3.mb-md-0 .d-block.d-md-inline-block.align-middle.mb-3.mb-md-1.mr-md-2 {
        font-size: 15px !important;
        font-weight: 700;
}

.d-inline-block.align-middle img {
    transform: scale(1.2);
    border-radius: 10px;
    border: 1px #000 solid;
}

.footer-logo.custom-seal img{
        transform: scale(1.8);
        border-radius: 10px;
        background: #e0e0e0;
        box-shadow:  -20px 20px 60px #bebebe,
                    20px -20px 60px #ffffff;
        margin-bottom: 20px;
}

.js-footer.js-hide-footer-while-scrolling.footer-colors.display-when-content-ready.overflow-none .container {
    border-bottom: 2px #fff solid;
}



/* Seccion Productos*/

.breadcrumbs .crumb,
.breadcrumbs .separator {
    font-size: 15px;
}


.breadcrumbs .crumb.active {
    font-weight: 900;
    text-decoration: underline;
}

.page-header.py-3.py-md-4 h1 {
    background-color: #63afff;
    color:#fff;
    border-radius: 10px;
    text-align: center;
    box-shadow: 25px 25px 49px #bebebe, 0px 0px 0px #ffffff;
} 

@media (max-width: 768px) {
    .page-header.py-3.py-md-4 h1 {
        box-shadow: 5px 5px 30px #9e9e9e, -5px -5px 30px #c4c4c4;
    }
}

.row .col-md-auto.filters-sidebar.d-none.d-md-block.visible-when-content-ready {
    padding-top: 15px;
    background-color: #63afff;
    border-radius: 10px;
    box-shadow: 25px 25px 49px #bebebe, 0px 0px 0px #ffffff;
}

.js-accordion-toggle.font-md-small.text-uppercase.row.no-gutters.align-items-center.py-md-2 .col.pr-3.my-1,
.js-accordion-toggle-inactive svg,
.js-accordion-toggle-active svg {
    color: #007bff;
    fill: #007bff;

}

.js-accordion-toggle.font-md-small.text-uppercase.row.no-gutters.align-items-center.py-md-2 .col.pr-3.my-1:hover,
.js-accordion-toggle-inactive svg,
.js-accordion-toggle-active svg {
    color: #63afff;
    fill: #63afff;
    transition: all .4s ease-in;
}

.mb-2.pb-md-1 .btn-link.font-small.no-underline {
    color: #007bff;
}

.mb-2.pb-md-1 .btn-link.font-small.no-underline:hover {
    color: #63afff;
    transition: all .4s ease-in;
}


.checkbox-container .checkbox-icon {
 border: 1px solid #007bff;
}

.checkbox-container .checkbox-icon {
    border: 1px solid #007bff;
}

.checkbox-container .checkbox-icon {
    border: 1px solid #63afff;
    transition: all .4s ease-in;
}

.checkbox .checkbox-text {
    color: #007bff;
    font-size: 13px;
}

.checkbox .checkbox-text:hover {
    color: #63afff;
    font-weight: bold;
    transition: all .4s ease-in;
}

form .font-md-small.font-weight-bold.mt-1.mb-3.text-uppercase {
    color: #007bff;
    fill: #007bff;
}

.js-filter-input-price-container.filter-input-price-container label {
    color: #007bff;
}

.form-group .js-price-filter-btn.btn.btn-default.btn-small {
    background-color: #007bff;
}

.form-group .js-price-filter-btn.btn.btn-default.btn-small:hover {
    background-color: #63afff;
}

.js-item-container.item {
    border: #007bff 1px solid;
    box-shadow: 10px 10px 49px #bebebe, -10px -10px 0px #ffffff;
}

@media (min-width: 768px) {
    .js-item-container.item {
        min-width: 160px;
        max-width: 240px;
    }
}